.wrap{
    width: 97%;
    margin: 0 auto;
    min-width: 1400px;
}
.box{
    width: 100%;
    margin-top: 20px;
}
.div1{
    height: 410px;
    /* background-color: pink; */
    border-radius: 3px;
    box-shadow: -1px 1px 5px 1px grey;
    display: flex;
}
.renwu{
    width: 49%;
    height: 100%;
    background-color: white;
}
.renwu .guanbi{
    width: 95%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    border-bottom: 1px solid gray;
    position: relative;
}
.renwu .guanbi span:nth-child(2){
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../cyf-image/shuaxin.png) center center no-repeat;
    cursor: pointer;
}
.renwu .guanbi ul:nth-child(3){
    display: inline-block;
    float: right;
    margin-top: 18px;
    position: absolute;
    right: 10px;
    top: -1px;
    display: none;
}
.renwu .guanbi ul:nth-child(3) li{
    width: 3px;
    height: 3px;
    border-radius: 10px;
    margin: 1px;
    background-color: gray;
    list-style: none;
}
.renwu:hover .guanbi ul:nth-child(3){
    display: block;
}
.renwu .zhuti_ul {
    width: 95%;
    margin: 0 auto;
    /* margin-top: -10px; */
}
.renwu .zhuti_ul li{
    list-style: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: -20px;
    border-bottom: 1px solid gray;
}
.renwu .zhuti_ul li span{
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    font-size: 15px;
}
.renwu .zhuti_ul .gray span{
    color: gray;
}
.renwu .zhuti_ul li .zhuti_li_lis{
    width: 225px;
}
.renwu .zhuti_ul li .zhuti_li_time{
    width: 98px;
}
.renwu .zhuti_ul li .zhuti_li_zhuangtai{
    width: 60px;
}
.renwu .zhuti_ul li .zhuti_li_youxianji{
    width: 54px;
}
.renwu .zhuti_ul li .zhuti_li_guanliandoa{
    width: 170px;
}
.renwu .zhuti_ul li .zhuti_li_name{
    width: 80px;
}
.renwu .zhuti_ul li .zhuti_li_suoyouzhe{
    width: 80px;
}
.renwu .zhuti_ul li .zhuti_li_leixing{
    width: 60px;
}
.renwu .zhuti_ul .tu .blue{
    color: #2C7BD0;
}
.renwu .dao{
    margin-left: 88%;
    margin-top: 60px;
}
.renwu .dao span.color{
    color: gray;
}
.hengxina{
    width: 2%;
    height: 100%;
    /* background-color: red; */
}
.xiansuo div:nth-child(2){
    width: 100%;
    height: 345px;
    text-align: center;
    line-height: 305px;
}
.div2{
    width: 49%;
    height: 100%;
    background-color: gold;
}