/* 顶部导航栏 */
header{
    width: 100%;
    background-color:#f8f8f8;
}
.wrap{
    width:100%;
    background-color:#f8f8f8;
}
.wrap .top_nav{
   width:100%;
   height:36px;
   padding:20px 0 10px;
   position:relative;
   z-index:13px;
   background-color:rgb(248,248,248);
   border-bottom: 1px solid rgb(238,238,238);
   display:flex;
   justify-content:space-between;
   align-items: center;
}
.wrap .top_nav .top_left{
    width:250px;
    display:flex;
    align-items:center;
    margin-left:24px;
}
.wrap .top_nav .top_left .text{
    border:1px solid rgba(0, 0, 0, 0.3);
    background-color:rgb(247, 247, 247);
    width:auto;
    height:auto;
    border-radius:3px;
    padding:7px 10px;
    z-index:10;
    cursor: pointer;
}
.text_p span{
    background:url(../images/jiantou.png) center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width:8px;
    height:8px;
}
.wrap .top_nav .top_left .oop{
    width:60px;
    margin-left:7px;
    color:rgb(119,119,119);
    display:flex;
    align-items: center;
}
.wrap .top_nav .top_left .oop .s1{
    margin-left: 5px;
    cursor: pointer;
    display:inline-block;
    width:15px;
    height:15px;
    background:url(../images/icon.png) center no-repeat;
    background-size: 100% 100%;
}
.wrap .top_nav .top_left .text .text_p{
    position: relative;
}
.wrap .top_nav .top_left .text .xlcd{
    width:220px;
    height:420px;
    background-color:#fff;
    position: absolute;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,0.3)!important;
    left: 25px;
    top:60px;
}
.wrap .top_nav .top_left .text .xlcd .CVSearchBox{
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgb(119,119,119);
}
.wrap .top_nav .top_left .text .xlcd .suosuo{
    display: inline-block;
    width: 15px;
    height:15px;
    background:url(../images/icon01.png) center no-repeat;
    background-size:100% 100%;
    margin-left:7px;
}
.wrap .top_nav .top_left .text .xlcd .cvlist{
    height: 356px;
    width:100%;
    /* overflow: hidden; */
    overflow:scroll;
}
.wrap .top_nav .top_left .text .xlcd .cvlist ul{
    list-style:none;
    padding:0;
}
.wrap .top_nav .top_left .text .xlcd .cvlist ul li{
    margin:0;
    padding:5px 0;
}
.wrap .top_nav .top_left .text .xlcd .cvlist ul li span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background:url(../images/icon3.png) center no-repeat;
    background-size:100% 100%;
    margin-left:3px;
    margin-right:4px;
}
.wrap .top_nav .top_left .text .xlcd .createView{
    height:34px;
    border-top: 1px #DDD solid;
    color:blue;
    line-height: 34px;
}
.top_right{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.top_right .left a{
    display: inline-block;
    width:17px;
    height:17px;
    margin-right:15px;
}
.top_right .left .bp1{
    background:url(../images/lianji1.png) center no-repeat;
    background-size: 100% 100%;
}
.top_right .left .bp2{
    background:url(../images/lianjie2hong.png) center no-repeat;
    background-size: 100% 100%;
}
.top_right .left .bp3{
    background:url(../images/svgicons_43e8a_.svg);
    background-position: -234px -2417px;
}
.top_right .right .nex{
    width: 97.13px;
    height:33px;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: 15px;
    position: relative;
}
.top_right .right .nex .s1{
    display: inline-block;
    width:30px;
    height:33px;
    border-right: 1px solid #c4c4c4;
    text-align: center;
    line-height: 33px;
}
.top_right .right{
    display:flex;
}
.top_right .right .nex .s2{
    display: inline-block;
    width: 60.13px;
    height: 33px;
    text-align: center;
}
.top_right .right .s3{
    display: inline-block;
    width: 54.22px;
    height:32px;
    border:1px solid #c4c4c4;
    font-size:30px;
    text-align: center;
    line-height:14px;
    color:#c4c4c4;
}
.top_right .right .xlcd2{
    width: 107.77px;
    height: 65.38px;
    background-color:#fff;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,0.3)!important;
    position: absolute;
    top: 57px;
}
.top_right .right .xlcd2 ul{
    list-style: none;
    margin:0;
    padding:0;
}
.top_right .right .xlcd2 ul li{
    display: inline-block;
    width: 100%;
    height:32px;
    text-align: center;
    line-height: 32px;
}
.top_right .right .xlcd3{
    width: 175.37px;
    height: 365.44px;
    background-color:#fff;
    overflow: hidden;
    position: absolute;
    -webkit-box-shadow: 0 1px 16px rgba(0,0,0,0.3)!important;
    top:60px;
}
.top_right .right .xlcd3 ul{
    list-style: none;
    margin:0;
    padding:10px 0;
}
.top_right .right .xlcd3 ul li{
    display: inline-block;
    height:29.84px;
    width:100%;
    margin-left: 20px;
    padding:;
}
.top_right .right .xlcd3 ul #seep{
    height:1px;
    border-bottom: 1px solid #eee;
    margin:10px;
    margin-left:0;
}
/* 中间内容开始 */
.conten{
    width: 100%;
    height:823px;
    display:flex;
}
/* 左边导航条 */
.center_left{
    width: 250px;
    height: 859px;
}
.center_left form{
    width:249px;
    height:773.16px;
}
.center_left form .customview1{
    width: 100%;
    height:773.16px;
    border-right:1px solid #eee;
}
.center_left form .lpDivHeadD{
    width:91%;
    height: 35px;
    color: #9197a3;
    padding:7px 0 2px;
    margin-bottom:5px;
    padding-left: 15px;
    padding-right:20px;
    color: rgb(145, 151, 163);
    text-transform: uppercase;
}
.center_left form .lpDivHeadD .mT12{
    margin-top:12px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size:13px;
}
.center_left form .lpDivHeadD .mT12 .sousuo{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(../images/svgicons_43e8a_.svg) center no-repeat;
    background-position:0 0;
    cursor: pointer;
}
.center_left form .lpDivHeadD .mT13{
    display:flex;
    align-items: center;
    margin-top:9px;
    border-bottom:1px solid #eee;
}
.center_left form .lpDivHeadD .mT13 .sousuo{
    display: inline-block;
    width:16px;
    height:16px;
    background:url(../images/svgicons_43e8a_.svg) center no-repeat;
    background-position:0 0;
    cursor: pointer;
    margin-right:8px;
}
.center_left form .lpDivHeadD .mT13 a{
    display: inline-block;
    width: 11px;
    height: 11px;
    background:url(../images/svgicons_43e8a_.svg);
    background-position:-275px -1640px;
}
.center_left form .lpDivHeadD .mT13 input{
    outline:none;
    background:transparent;
    border:none;
    outline:medium;
    width:100%;
    box-sizing: border-box;
    transition: .3s all ease;
    font-style: italic;
    font-weight:300;
}
.inner-center{
    width:100%;
    height:721px;
    margin-top:5px;
}
.inner-center .conten{
    width:250px;
    height:721px;
}
.inner-center .conten .libiao .li{
    width: 135.28px;
}
.inner-center .conten .libiao .li .head{
    padding:1px 0 1px 15px;
}
.inner-center .conten .libiao .li .head .fk{
    overflow: hidden;
}
.inner-center .conten .libiao .li .head .fk .cnm{
    width:106px;
    height:29.98px;
    font-size:12px;
    display:flex;
    align-items: center;
}
.inner-center .conten .libiao .li .head .fk .cnm .dui{
    display:inline-block;
    width: 12px;
    height:12px;
    border:1px solid #eee;
    margin-right: 7px;
}
.inner-center .conten .libiao .li .head .fk  .xx{
    width: 133.23px;
    height:19px;
    margin-top:4.5px;
    margin-left:5px;
    display: flex;
    font-size: 12px;
    align-items: center;
}
.inner-center .conten .libiao .li .head .fk  .xx .xiala{
    width:65.8px;
    height:16px;
    border:1px solid #d5d5d5;
    border-radius:1px;
    overflow: hidden;
    padding-right: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: border .3ms ease-in-out;
    position: relative;
}
.inner-center .conten .libiao .li .head .fk  .xx .xiala select{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px!important;
    height: 17px;
    line-height: 17px;
    width: 135%;
    background-color: #F1F1F1;
    text-shadow: 0 0 0 #000;
    border: medium none!important;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.inner-center .conten .libiao .li .head .fk  .xx .xiala .jiantou{
    position: absolute;
    display: inline-block;
    width:7px;
    height:5px;
    background:url(../images/svgicons_43e8a_.svg) no-repeat no-repeat -315px -884px;
    top:5px;
    right:9px;
}
.inner-center .conten .libiao .li .head .tk{
    padding:2px 0 1px 16px;
}
.inner-center .conten .libiao .li .head .tk .lf{
    width: 173.69px;
    height:25.89px;
    white-space: nowrap;
    font-size: 12px;
    color: #666;
    border: 1px solid transparent;
    transition: all 100ms linear 0ms;
    position: relative;
}
.inner-center .conten .libiao .li .head .tk .lf select{
    adding: 0 4px!important;
    font-family: ProximaNovaRegular,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px!important;
    height: 17px;
    line-height: 17px;
    background-color: #F1F1F1;
    text-shadow: 0 0 0 #000;
    border: medium none!important;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    width:77px;
}
.inner-center .conten .libiao .li .head .tk .lf input{
    adding: 1px 5px!important;
    border: 1px #D5D5D5 solid;
    outline: none;
    border-radius: 1px;
    height: 15px;
    font-size: 12px!important;
    font-family: ProximaNovaRegular,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: border .3ms ease-in-out;
    width:20px;
}
.inner-center .conten .libiao .li .head .tk .lf span{
    position: absolute;
    display: inline-block;
    width: 7px;
    height: 5px;
    background: url(../images/svgicons_43e8a_.svg) no-repeat no-repeat -315px -884px;
}
.inner-center .conten .libiao .li .head .tk .lf .s1{
    top:7px;
    left:65px;
}
.inner-center .conten .libiao .li .head .tk .lf .s2{
    top:7px;
    right:40px;
}
/* 右边开始 */
.center_right{
    width: 1670px;
    height:859px;
}
.center_right .top{
    width: 100%;
    height:767px;

}
.center_right .top header{
    width:100%;
    border-bottom:1px solid #eee;
}
.center_right .top header .wrap{
    width:100%;
    height:44px;
    padding:6px 25px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.center_right .top header .wrap .left{
    width: 290.19px;
    height: 31px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#777;
    margin-left: 28px;
}
.center_right .top header .wrap .left .fk{
    display: inline-block;
    height: 15px;
    width: 15px;
    border:1px solid #eee;
}
.center_right .top header .wrap .left .dIB{
    border: 1px solid rgba(0,0,0,0);
    padding: 4px 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 1px;
    border-radius: 3px;
    display:flex;
    align-items: center;
}
.center_right .top header .wrap .left .dIB .vam{
    display:block;
    font-size: 14px;
    color:#000;
    width: auto;
    height:auto;
    text-transform: capitalize;
}
.center_right .top header .wrap .left .dIB .jx{
    display: inline-block;
    width: 9px;
    height:5px;
    background:url(../images/svgicons_43e8a_.svg) no-repeat -36px -939px;
    margin-left: 7px;
}
.center_right .top header .wrap .right{
    width: 175.38px;
    height: 31px;
    margin-right:70px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.center_right .top header .wrap .right .mR12{
    width: 64.7px;
    height: 100%;
    color:#777;
    font-size:12px;
    display:flex;
    align-items:center;
}
.center_right .top header .wrap .right .mR12 .jx{
    display: inline-block;
    width: 9px;
    height:5px;
    background:url(../images/svgicons_43e8a_.svg) no-repeat -36px -939px;
    margin-left: 7px;
}
.center_right .top header .wrap .right .pL12{
    width: 97.2px;
    height:100%;
    border-left:1px solid #eee;
    display: flex;
    align-items: center;
}
.center_right .top header .wrap .right .pL12 .fk{
    display: inline-block;
    height: 15px;
    width: 15px;
    border:1px solid #eee;                                               
    margin-left:9px;
    margin-right:9px;
}
.conten .center_right .center{
    max-height:723px;
    height:100%;
    width:100%;
    overflow:auto;
}
.conten .center_right .center ul{
    margin:0;
    padding:0;
}
.conten .center_right .center ul li{
    display: inline-block;
    width:100%;
    height:109px;
}
.conten .center_right .center ul li .left{
    display: flex;
    width: 70px;
    height: 85%;
    justify-content: space-between;
    margin-top: 9px;
}
.conten .center_right .center ul li .left .hb a{
    display: inline-block;
    width: 13px;
    height: 13px;
    background:url(../images/svgicons_43e8a_.svg) no-repeat;
    background-position: -120px -246px;
    margin-left: 15px;
}
.conten .center_right .center ul li .left .fk input{
    width: 15px;
    height: 19px;
}